{% load static %}
<!doctype html>
<html lang="pt-BR">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'usuarios/css/cadastro.css' %}" rel="stylesheet">
    <link href="{% static 'divulgar/css/novo_pet.css' %}" rel="stylesheet">
    <link href="{% static 'divulgar/css/seus_pets.css' %}" rel="stylesheet">
    </head>
    <body>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 bg-side sidebar">
                    <h2>ADO.TE</h2>
                    <hr>
                    
                    
                </div>

                <div class="col-md">
                    <div class="wrapper">
                        <div class="box width80">
                            {% if messages %}
                                <br>
                                {% for message in messages %}
                                    <div class="alert {{message.tags}}">
                                        {{message}}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <h3 class="font-vinho">Seus Pets</h3>
                            <hr>

                             <table class="tabela" cellpadding="20">
                                <tr>
                                    <th>Foto</th>
                                    <th>Nome</th>
                                    <th>Raça</th>
                                    <th>Status</th>
                                    <th>Remover</th>
                                </tr>
									{% for pet in pets %}
										<tr class="tabela-linha">
											<td width="20%">
												<img width="40%" src="{{pet.foto.url}}">
											</td>
											
											<td>
												{{pet.nome}}
											</td>
											
											<td>
												{{pet.raca}}
											</td>
											
											<td>
												{% if pet.status == "P" %}
													<spam class="badge text-bg-primary">Para Adoção</spam>
												{% elif pet.status == "A" %}
													<spam class="badge text-bg-success">Adotado</spam>
												{% endif %}
											</td>
											
											<td>
												<a href="{% url 'remover_pet' pet.id %}" class="btn btn-danger">REMOVER</a>
											</td>
										</tr>
									{% endfor %}
                            
                                
                            </table>
                        </div>
                    </div>
                </div>

            </div>


        </div>



    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>