<!DOCTYPE HTML>
{% load static %}
<html lang="pt-BR">
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Cadastro</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="{% static 'usuarios/css/cadastro.css' %}" rel="stylesheet"/>

    </head>
    <body>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 bg-side">
                    <div class='header'>
                        <img src="{% static 'usuarios/img/logo_adote.png' %}" width="9%"><span class="font-logo">ADO.TE</span>
                    </div>

                    <div class="body-form">
                        <h2>Cadastre-se</h2>
                        <p>Seu cadastro salva vidas.</p>
                        <hr>
                        <form action="{% url 'cadastro' %}" method="POST">{% csrf_token %}
                            <span>Nome:</span>
                            <input type="text" class="form-control" placeholder="Digite seu nome..." name="nome">
                            <br>
                            <span>E-mail:</span>
                            <input type="email" class="form-control" placeholder="Digite seu email..." name="email">
                            <br>
                            <div class="row">

                                <div class="col-md">
                                    <span>Senha:</span>
                                    <input type="password" class="form-control" placeholder="Digite sua senha..." name="senha">
                                </div>

                                <div class="col-md">
                                    <span>Confirmar senha:</span>
                                    <input type="password" class="form-control" placeholder="Digite sua senha..." name="confirmar_senha">
                                </div>
                            </div>

                            <input type="submit" value="SALVAR" class="btn-custom-primary">
                        
                            <a href="" class="link-float">Já tenho uma conta</a>
                        </form>
                    </div>
				<!-- Adicionando Mensagens de erro -->
                {% if messages %}
					<br>
					{% for message in messages %}
						<div class="alert {{message.tags}}">
							{{message}}
						</div>
					{% endfor %}
				{% endif %}
				</div>

                <div class="col-md-7">
                    <div class="side-logo">
                        <img class="logo-margin-top" src="{% static 'usuarios/img/logo_adote.png' %}" width="20%">
                        <h1>ADO.TE</h1>
                        <p>Nos ajude a salvar vidas.</p>
                    </div>
                </div>

            </div>



        </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>